

<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">

    <h3 class="mb-0">Ajout utilisateur</h3>
      </div>
      <div class="card-body">
        <form class="form" #imageForm=ngForm (ngSubmit)="OnSubmit(username,password,nom,adresse,tel,cni,profil,Image)" >
            <div class="row form-group">
              <div class="col">
                  <label for="">Username</label>
                <input type="text" #username class="form-control" ngModel placeholder="First name" name="username">
              </div>
              <div class="col ">
                  <label for="">Password</label>
                <input #password type="password" class="form-control" ngModel placeholder="Mot de pass" name="password">
              </div>
            </div>

            <div class="row form-group">
                <div class="col">
                    <label for="">Nom </label>
                  <input #nom type="text" class="form-control" ngModel placeholder="Last name" name="nom">
                </div>
                <div class="col ">
                    <label for="">Adresse</label>
                  <input #adresse type="text" class="form-control" ngModel placeholder="adresse" name="adresse">
                </div>
              </div>
            <div class="row form-group">
                <div class="col">
                    <label for="">Tel</label>
                  <input #tel type="number" class="form-control" ngModel placeholder="Numberphone" name="tel">
                </div>
                <div class="col ">
                    <label for="">Cni</label>
                  <input #cni type="text" class="form-control" ngModel placeholder="N° carte d'identité" name="cni">
                </div>
              </div>
              <div class="row form-group">
                <div class="col">
                    <label for="">Profil</label>
                    <select #profil id="inputState" class="form-control" ngModel name="profil">
                      <option selected></option>
                      <option value="1">SUPERADMIN</option>
                      <option value="2">CAISSIER</option>
                    </select> 
                    </div>
           
              </div>
              <div class="row form-group">
                <div class="col">
              <img [src]="imageUrl"  style="width: 250px;height:200px" alt="">
              <input type="file" ngModel class="form-control" #Image accept="image/*" (change)="handleFileInput($event.target.files)" name="image">
                </div>
              </div>

        <button type="submit" class="btn btn-primary float-right" >Ajouter</button>
     
        </form>
      </div>
    </div>
  </div>
</div>