

<h1>Liste de tous les utilisateurs du partenaire</h1>
<div class="table-responsive">
  
  <table class="table ">
      <caption></caption>
    <thead>
      <tr>
       
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Role</th>
        <th scope="col">Adresse</th>
        <th scope="col">Tel</th>
        
        <th scope="col">Cni</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userparts">
           
            <td>{{user.username}}</td>
            <td>{{user.nom}}</td>
            <td>{{user.roles[0]}}</td>
            <td>{{user.adresse }}</td>
            <td>{{user.tel }}</td>
          
             <td>{{user.cni}}</td> 
             <td>
                <button type="button" class="btn btn-primary"> {{user.status }}</button>
            
              </td>
          
          </tr>
         
        </tbody>
      </table>
    </div>

