
   
<div class="container-fluid">
        <div class="row-fluid">
          <div class="card rounded-0">
                <div class="page-header">
            <h1>Bienvenue !! 
        <p>Chez DijaService</p>
           </h1>
                </div>
                    <h3> Services</h3> 
      <div class="card-body">
            <form class="form" #imageForm=ngForm >
                <div class="row form-group">
                  <div class="col ">
                        <h3>Gestion des Partenaires</h3>
                        <a href="#"><img src="assets/img/Part.jpg" alt=""></a>
                  </div>
                  <div class="col  ">
                        <h3>Gestion des Utilisateurs</h3>
                        <a href="#"><img src="assets/img/user.jpg" alt=""></a>
                  </div>
                </div>
                <div class="row form-group">
                        <div class="col ">
                        <h3>Gestion des Compts</h3>
                            <a href="#"><img src="assets/img/bank.jpeg" alt=""></a>
                        </div>
                        <div class="col  ">
                              <h3>Gestion des Dépots</h3>
                              <a   href="#"><img src="assets/img/depot.jpg" alt=""></a>
                        </div>
                      </div>
            </form>
        </div>
    
    </div><!-- /Slide1 --> 
     <div class="item">
            
           
    </div><!-- /.row --> 
    </div><!-- /.container -->
    
                                
 